@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,800,800i&display=swap');


$body_font:'Work Sans', sans-serif;
$heading_font:'Poppins', sans-serif;

$color_primary:#FF8700;
$color_grey_dark:#002147;
$color_white:#fff;
$color_min_white:rgba(255,255,255,0.8);
$color_black:#000;
$color_lg:#f5f5f5;

html,body{
	margin: 0;
	/*font-size: 10px;*/
}
body{
	font-family: $heading_font;
}
.table-div{
	display: table;
	> div {
		display: table-cell;
		vertical-align: middle;
		&.top{
			vertical-align: top;
		}
	}
	&.full {
		width: 100%;
	}
}
ul,ol{
	padding-left: 0;
	margin-bottom: 0;
}
a:hover{
	text-decoration: none;
}
p{
	font-size: 16px;
	margin-bottom: 0;
	padding-bottom: 0;
	&.fs-20{
		font-size: 20px;
	}
}
.text-white{
	color: $color_white;
}
p.tel-link{
	margin-bottom: 0;
	a{
		color:$color_min_white;
		font-size: 16px;
		&:hover{
			opacity:0.8;
		}
	}
}
h1,h2,h3,h4,h5,h6{
	margin-bottom: 0;
	padding-bottom: 0;
}
.btn{
    &:link,&:visited{
        text-transform: uppercase;
        text-decoration: none;
        padding: 10px 25px;
        display: inline-block;
        transition: all .3s;
        position: relative;
        font-size: 14px;
    }
    &.btn-white{
        background-color: $color_white;
        color: $color_grey_dark;
        &::after{
            background-color: $color_white;
        }
    }
    &.btn-grey{
        background-color: $color_grey_dark;
        color: $color_white;
        &::after{
            background-color: $color_grey_dark;
        }
    }
    &:active{
        transform: translateY(-3px);
       box-shadow: 0 5px 1px rgba($color_black, .2);
    }
    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 1px 2px rgba($color_black, .2);
        &::after{
            transform: scaleX(1.2) scaleY(1.6);
            opacity: 0;
        }  
    }
    
    &::after{
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
    }
}
.heading-primary{
    color:$color_white;
    display: block;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 10px;
    &.t-pri{
    	color: $color_grey_dark;
    }
    
}
.heading-secondary {
    font-size: 28px;
    text-transform: capitalize;
    font-weight: 600;
    color: transparent;
    color:$color_grey_dark;
    margin-bottom: 10px;
}
.heading-tritary {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 10px;
}
.header{
	&--social{
		background: $color_grey_dark;
		padding: 10px 0;
		.link{
			text-align: right;
			li{
				display: inline-block;
				margin:0 10px;
				a{
					display: block;
					i{
						color: $color_min_white;
						font-size: 20px;
					}
					&:hover{
						i{
							opacity: 0.8;
						}
					}
				}
			}
		}
	}
	&--menu{
		padding: 10px 0;
	}
	&--logo{
		img{
			width: 200px;
			height: auto;
		}
	}
	&--nav{
		ul {
			list-style: none;
			padding: 15px 0;
			text-align: right;
			li {
				display: inline-block;
				
				a{
					color: $color_grey_dark;
				    display: block;
				    text-transform: uppercase;
				    font-size: 16px;
				    padding: 10px;
				    transition: 0.3s;
				    &:hover {
				    	color:$color_primary;
				    }
				}
				&.current_page_item{
					a{
						color:$color_primary;
					}
				}

			}
		}
	}
}
.footer {
	padding: 40px 0;
	background: $color_grey_dark;
	&--title{
		color:$color_white;
		font-size: 20px;
		font-weight: 600;
		margin-bottom: 5px;
	}
	.link{
		text-align: center;
		padding: 20px 0;
		border-top: 1px solid rgba(255,255,255,0.2);
		border-bottom: 1px solid rgba(255,255,255,0.2);
		li{
			display: inline-block;
			margin:0 5px;
			a{
				display: block;
				width: 32px;
				height: 32px;
				border-radius: 50%;
				background: $color_min_white;
				padding-top: 7px;
				i{
					color: $color_grey_dark;
					font-size: 20px;
				}
				&:hover{
					i{
						opacity: 0.8;
					}
				}
			}
		}
	}
	p{
		color: $color_min_white;
		font-size: 16px;
	}
}
.banner{
	padding: 150px 0;
	background-image: 
		linear-gradient(90deg, rgba($color_black,0.2) 100%,
		transparent 50%),
		url('../images/course2.jpg');

	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
}
.features {
	padding: 40px 0;
	background: $color_lg;
	&--block{
		background:$color_white;
		border-radius: 5px;
		padding: 30px 25px;
		box-shadow: 0 5px 20px rgba($color_black,0.15);
		text-align: center;
		min-height: 200px;
		transition: all 0.4s;
		cursor: pointer;
		border:1px solid transparent;
		height: 100%;
		.icon {
			width: 56px;
			height: 56px;
			border-radius: 50%;
			text-align: center;
			background:rgba(0,33,71,.8);
			padding-top:15px;
			margin: auto;
			i{
				font-size: 28px;
				color: $color_white;
			}
		}
		.info{
			margin-top: 10px;
		}
		&:hover{
			transform: translateY(-10px);
			border:1px dashed $color_primary;
			.icon{
				background: $color_primary;
			}
		}
	}
	&.mission{
		/*.features--block{
			min-height: 380px;
		}*/
	}
	&--about{
		padding-top: 40px;
	}
}
.homecourse {
	padding: 40px 0;
	.course {
		box-shadow: 0 10px 20px rgba($color_black,0.15);
		padding-bottom: 20px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;

		.image{
			img{
				width: 100%;
				height: auto;
			}
		}
		h2{
			margin-top: 20px;
			text-align: center;
		}
	}
}
.homeservice{
	padding: 120px 0;
	background-image: 
		linear-gradient(90deg, rgba($color_black,.4) 100%,
		transparent 50%),
		url('../images/scb.jpg');

	background-repeat:no-repeat;
	background-size: cover;
	background-position: center;
}
.philosophy-section {
	padding: 40px 0;
	background: $color_grey_dark;
	.info{
		color: $color_white;
	}
}
.about-course {
	padding: 40px 0;
	background: $color_lg;
}
.courses{
	padding: 40px 0;
	.course{
		&:not(:last-child){
			margin-bottom: 30px;
			border-bottom: 1px solid #f8f8f8;
		}
		.image{
			img{
				width: 100%;
				height: auto;
			}
		}
	}
}
.enroll{
	font-size: 16px;
	.enroll-form{
		padding: 20px;
		border: 1px solid #ced4da;
		margin-bottom: 20px;
		border-radius: 5px;
	}
	.form-group{
		label{
			font-weight: 600;
			&.min{
				font-size: 14px;
			}
		}
		label.error{
			font-weight: 500;
			color: #f00;
			font-size: 14px;
		}
		.form-control{
			border-radius:0;
			font-size: 16px;
		}
	}
	.btn-submit{
		background: $color_grey_dark;
		color: $color_white;
		border:none;
		outline: none;
		padding:5px 15px;
	}
}

@media only screen and (max-width:768px){
	.heading-primary{
	    font-size: 40px;	    
	}
	.heading-secondary {
	    font-size: 25px;
	}
	.heading-tritary {
	    font-size: 18px;   
	}
	.mob-mb-20{
		margin-bottom: 20px;
	}
	.mob-mt-20{
		margin-top: 20px;
	}
	.menuToggle{
		background:$color_grey_dark;
		display: inline-block;
		width: 32px;
		height: 32px;
		text-align: center;
		margin-top: 8px;
		padding-top: 2px;
		img{
			width: 28px;
			height: 28px;
		}
	}
	.header{
		&--social{
			display: none;
		}
		&--menu{
			padding: 10px 0;
		}
		&--logo{
			img{
				width: 150px;
				height: auto;
			}
		}
		&--nav{
			ul {
				display: none;
				text-align: left;
				li {
					display: block;
					a{
						padding: 5px 0;
					}
				}
			}
		}
	}
	.footer {
		.text-right{
			text-align: left ! important;
		}
	}
}